@font-face{font-family:'BYekan'; src: url('BYekan.eot?#') format('eot'), url('BYekan.woff') format('woff'), url('BYekan.ttf') format('truetype');}
html,body{width:100%;height:100%;margin:0;padding:0;background:#fff;cursor:default;}
#container{width:800px;margin:0 auto;direction:rtl;}
#container header{border-bottom:1px solid #ccc;height:100px;margin-bottom:10px;}
#container header #logo{float:right;width:250px;}
#container header #time-display{float:left;width:400px;margin-right:10px;}
#container header #time-display canvas{width:400px;height:100px;display:block;}

#container h1{font:22px 'BYekan';margin:0 0 2px;}
#container h2{font:22px 'BYekan';margin:0 0 10px;padding:0 10px 10px;border-bottom:1px solid #ddd;}
input[type='text']{font:12px Tahoma;border:1px solid #ddd;padding:5px;color:#333;outline: none;}
input[type='button']{border:none;background:#57c8f2;font:13px BYekan;cursor:pointer;color:#fff;padding:2px 10px 4px;border-radius:3px;}

.tooltip {
    display: block;
    position: fixed;
    background: #000;
    color: #fff;
    padding: 5px;
    z-index: 9999;
    width: 300px;
    /*transition: opacity .3s ease-in-out, transform .3s ease-in-out;*/
    opacity: 0;
    transform: rotateX(90deg);
    /*transform: translateX(-20px);*/
}

.description{font:13px BYekan;color:#333;margin-bottom:15px;display:block;}

.step-welcome{text-align:center;padding:50px 0;}
.step-welcome .box-input{margin-bottom:25px;}
.step-welcome label{display:block;color:#333;font:18px BYekan;margin:10px 0 0;}


#controls{text-align:left;padding:15px 0;}

.item-list{width:100%;}
.item-list thead{background:#05b2af;}
.item-list thead th{font:18px BYekan;color:#fff;text-align:center;padding:5px 2px;}
.item-list td{font:13px BYekan;/*position:relative;*/}

.item-list td:hover .tooltip {
    opacity: 1;
    transform: rotateX(0);
    /*transform: translateX(0);*/
}

.item-list tbody td{border-bottom:1px solid #f4f4f4;}
.item-list tbody tr td{width:10%;text-align:center;}
.item-list tbody tr td:nth-child(2){width:auto;text-align:right;}
.item-list tfoot th{font:18px BYekan;}

.hidden {
    display: none;
}

.red_border {
    border: 1px solid red !important;
}

@keyframes showStep {
    0% {
        opacity: 0;
        transform: rotateX(-90deg) perspective(900px);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

@keyframes hideStep {
    0% {
        opacity: 1;
        transform: rotateX(0deg);
    }
    100% {
        opacity: 0;
        transform: rotateX(-90deg) perspective(900px);
    }
}

#time-display {
    margin-top: 40px;
    font-size: larger;
    text-shadow: 1px 1px 10px #47db3b;
}